:root {
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif; /* Добавляем Roboto, стандартный шрифт Material-UI */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center; /* Используем align-items вместо place-items для центрирования */
  justify-content: center; /* Добавляем центрирование по горизонтали */
  min-width: 320px;
  min-height: 100vh;
  background-color: #c4c1c1; /* Задаем фон для body */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87); /* Цвет заголовков */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none; /* Убираем подчеркивание по умолчанию */
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
